<html>
    <head>
        <title>login form</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    
    <body>
        <div class="nabox">
            <h1>Create New Account</h1>
            <form action="/signup" method="POST">
                <p>Name</p>
                <input type="text" name="name" placeholder="Enter Name">
                <p>Email Id</p>
                <input type="text" name="email" placeholder="Enter Email Id">
                <p>Username</p>
                <input type="text" name="username" placeholder="Enter Username">
                <p>Password</p>
                <input type="password" name="password" placeholder="Enter Password">
                <p>Address</p>
                <input type="text" name="address" placeholder="Enter Address">
                <input type="submit" name="" value="Create">
            </form>
        </div>
        
    </body>
    </head>
</html>